#----<ESA-MASTER>-----------------------------------------------------------------
#                                                                                 
#          __/_/  __/__/  __/__/   _/__/_/ __/__/__/ __/__/__/ __/_/__/           
#         __/ _/__/ __/ __/   __/ __/        __/    __/       __/    __/          
#        __/  __/  __/ __/__/__/  __/__/    __/    __/__/    __/_/__/             
#       __/       __/ __/   __/      __/   __/    __/       __/    __/            
#      __/       __/ __/   __/ _/__/_/    __/    __/__/__/ __/     __/            
#                                                                                 
# __ ESA Meteoroid & Space Debris Terrestrial Environment Reference Model__       
#-------------------------------------------------------------------------------- 
# Purpose: Definition of plot options of the MASTER Graphical User Interface.     
#-------------------------------------------------------------------------------- 
# Note: Lines which may be edited by the user are NOT marked by comment           
#       sign ('#').                                                               
#-------------------------------------------------------------------------------- 
#                                                                                 
# PLOT_OPTION_1
0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 EXPL 
# PLOT_OPTION_2
0 2 0 1 0 0 0 0 0 0 0 0 0 0 0 COLL 
# PLOT_OPTION_3
0 3 0 0 1 0 0 0 0 0 0 0 0 0 0 LMRO 
# PLOT_OPTION_4
0 4 0 0 0 1 0 0 0 0 0 0 0 0 0 NAKD 
# PLOT_OPTION_5
0 5 0 0 0 0 1 0 0 0 0 0 0 0 0 SRMS 
# PLOT_OPTION_6
0 6 0 0 0 0 0 1 0 0 0 0 0 0 0 SRMD 
# PLOT_OPTION_7
0 7 0 0 0 0 0 0 1 0 0 0 0 0 0 PAFL 
# PLOT_OPTION_8
0 8 0 0 0 0 0 0 0 1 0 0 0 0 0 EJEC 
# PLOT_OPTION_9
0 9 0 0 0 0 0 0 0 0 1 0 0 0 0 MLI 
# PLOT_OPTION_10
0 10 0 0 0 0 0 0 0 0 0 1 0 0 0 CLOUD 
# PLOT_OPTION_11
1 11 0 0 0 0 0 0 0 0 0 0 1 0 0 MAN 
# PLOT_OPTION_12
1 12 0 0 0 0 0 0 0 0 0 0 0 1 0 MTBG 
# PLOT_OPTION_13
1 13 0 0 0 0 0 0 0 0 0 0 1 1 1 Total 
#                                                                                 
#--eof---------------------------------------------------------------------eof--- 
